.container {
    display: flex;
}

.button {
    background-color: black;
}

.button:hover {
    background-color: white;
}

.compose-local {
    composes: container;
}

.compose-global {
    composes: global-class from global;
}

.compose-external {
    composes: clearfix reset from "./utils.module.css";
}
